body {
}

.photo {
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid;
  display: inline-block;
}

div.photo_warning {
  border-color: red;
}

.photo img {
  max-width: 100%;
  height: auto;
}

.photo span.date {
  margin-left: 0.3em;
}

.photo span.photo_warning {
  margin-left: 0.3em;
  color: red;
}

.form_make_invisible_photo {
  margin-left: 0.5em;
  display: inline-block;
}

.rename_self_form {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
